.footer{
    margin-top: 83rem;
    background: $white;
    border-bottom: .1rem solid #E5E5E5;
    &-item{
        margin-bottom: 10rem;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 10.4rem;
        margin-bottom: -1.1rem;
    }
    &__paragraph{
        font-size: 1.4rem;
        color: rgba(31, 32, 65, 0.75);
        line-height: 2.4rem;
    }
    &-item:last-child, &-item:first-child{
        max-width: 26rem;
    }
    &-list{
        &__item__title{
            font-weight: 700;
            font-size: 1.2rem;
            margin-bottom: 2.1rem;
        }
        &__link__title{
            color: #1F2041;
        }
        &__item {
            font-size: 1.4rem;
            margin-bottom: 2rem;
        }
        &__link{
            color: rgba(31, 32, 65, 0.5);
        }
    }
    &__logo__link{
        margin-bottom: 2rem;
    }
    &__e-mail_subscription {
        position: relative;
        cursor: pointer;
        &__text {
            width: 26rem;
            height: 4.4rem;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: .4rem;
            position: relative;
            background: none;
            outline: none;
            box-sizing: border-box;
            &::placeholder {
                color: rgba(31, 32, 65, 0.25);
                font-size: 1.4rem;
                padding-left: 1.5rem;
            }
        }
        &__button{
            position: absolute;
            width: 4.4rem;
            height: 4.4rem;
            right: 0;
            top: calc(50% - 2.2rem);
        }
        &__img{
            background-repeat: no-repeat;
            display: block;
            margin: calc(50% - 0.9rem) auto;
        }
    }
}



