footer.footer
    .container.footer__container
        .footer-item
            a(href="").footer__logo__link
                img(src="/src/images/logo.png", alt="Logo").footer__logo.logo
            p.footer__paragraph Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-item
            ul.footer-list 
                li.footer-list__item__title 
                    a(href="#").footer-list__link__title НАВИГАЦИЯ
                li.footer-list__item 
                    a(href="#").footer-list__link О нас
                li.footer-list__item 
                    a(href="#").footer-list__link Новости
                li.footer-list__item 
                    a(href="#").footer-list__link Служба поддержки
                li.footer-list__item 
                    a(href="#").footer-list__link Услуги
        .footer-item
            ul.footer-list 
                li.footer-list__item__title 
                    a(href="#").footer-list__link__title О НАС
                li.footer-list__item 
                    a(href="#").footer-list__link О сервисе
                li.footer-list__item 
                    a(href="#").footer-list__link Наша команда
                li.footer-list__item 
                    a(href="#").footer-list__link Вакансии
                li.footer-list__item 
                    a(href="#").footer-list__link Инвесторы
        .footer-item
            ul.footer-list 
                li.footer-list__item__title 
                    a(href="#").footer-list__link__title СЛУЖБА ПОДДЕРЖКИ
                li.footer-list__item 
                    a(href="#").footer-list__link Соглашения
                li.footer-list__item 
                    a(href="#").footer-list__link Сообщества
                li.footer-list__item 
                    a(href="#").footer-list__link Связь с нами
        .footer-item
            ul.footer-list 
                li.footer-list__item__title ПОДПИСКА
            p.footer__paragraph Получайте специальные предложения и новости сервиса
            .footer__e-mail_subscription
                input(type="text" placeholder="Email").footer__e-mail_subscription__text
                a(href="").footer__e-mail_subscription__button
                    img(src="images/arrow-purple.svg", alt="").footer__e-mail_subscription__img
