.footer__bottom 
    .container.footer__bottom__container
      p.footer__bottom__copyright Copyright © 2018 Toxin отель. Все права защищены.
      nav.footer__bottom__nav 
        ul.footer__bottom__nav-list
          li.footer__bottom__nav-list__item
            a(href="").footer__bottom-list__link
              img(src="/src/images/nav/twitter.svg", alt="Twitter").footer__bottom__img.img__footer__bottom
          li.footer__bottom__nav-list__item
            a(href="").footer__bottom-list__link
              img(src="/src/images/nav/facebook.svg", alt="Facebook").footer__bottom__img.img__footer__bottom
          li.footer__bottom__nav-list__item
            a(href="").footer__bottom-list__link
              img(src="/src/images/nav/instagram.svg", alt="Instagram").footer__bottom__img.img__footer__bottom