
header.header
    .container.header__container
        a(href="").header__logo__link
            img(src="images/logo.png", alt="logo").header__logo.logo
        nav.header__nav 
            ul.header__nav__list 
                li.header__nav__list-item
                    a(href="#").header__nav__list-link О нас
                li.header__nav__list-item 
                    a(href="#").header__nav__list-link.arrow.header-arrow__bottom  Услуги
                li.header__nav__list-item 
                    a(href="#").header__nav__list-link Вакансии
                li.header__nav__list-item 
                    a(href="#").header__nav__list-link Новости
                li.header__nav__list-item
                    a(href="#").header__nav__list-link.arrow.header-arrow__bottom  Соглашения

        .header-control 
            button.header-control__btn.header-control__btn-entry ВОЙТИ
            button.header-control__btn.header-control__btn-registration.btn__general  ЗАРЕГИСТРИРОВАТЬСЯ